html {
  font-family: "Roboto", sans-serif;
}
#searchform {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
#searchform > * {
  flex: 1;
}
.segmented-control {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 28px;
  margin-left: 22px;
  margin-right: 22px;

  border: 1px solid #007AFF;
  border-radius: 4px;
  background-color: #FFF;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: #0000;
}
.segmented-control input {
  display: none;
}
.segmented-control label {
  flex: 1;
  overflow: hidden;
}
.segmented-control label div {
  height: 28px;

  border-width: 0 0.5px 0 0.5px;
  border-color: #007AFF;
  border-style: solid;
  outline: none;

  line-height: 28px;
  font-size: 13px;
  text-align: center;
  color: #007AFF;
}
.segmented-control label:first-of-type div, .segmented-control label:first-of-type div:link {
  border-left-style: none;
  border-radius: 3px 0 0 3px;
}
.segmented-control label:last-of-type div, .segmented-control label:last-of-type div:link {
  border-right-style: none;
  border-radius: 0 3px 3px 0;
}
.segmented-control label input:checked + div {
  animation: 0.125s linear 0s 1 both highlight;
  background-color: #007AFF;
  color: #FFF;
}
.segmented-control label div:hover, .segmented-control label div:active {
  animation: 0.125s linear 0s 1 both hover;
  background-color: #d6eaff;
}
@keyframes highlight {
  from {
    color: #007AFF;
  } to {
    background-color: #007AFF;
    color: #FFF;
  }
}
@keyframes hover {
  from {
    background-color: #FFF;
  } to {
    background-color: #d6eaff;
  }
}
#searchwrapper {
  margin-right: 5.6px;
}
#sampleTypes, #databases {
  list-style-type: none;
  padding-left: 0;
}
.searchform-output {
  display: none;
}
.searchform-output.has-results, .searchform-output.has-noresults {
  display: block;
}
.searchform-output.has-results .placeholder-noresults {
  display: none;
}
.searchform-output.has-noresults .placeholder-results {
  display: none;
}
#searchSummary {
  text-align: center;
}
.ResultsTable {
  white-space: nowrap;
  margin-bottom: 5.6px;
}
.ResultsTable,.ResultsTable td,.ResultsTable tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.ResultsTable tbody > tr > td {
  text-align: right;
}
.ResultsTable tbody > tr > td:nth-of-type(1) {
  text-align: left;
}
.ResultsTable thead {
  background-color: rgb(222,222,222);
  text-align: center;
}
.not-detected {
  color: #d9d9d9;
  --component-color: #d9d9d9 !important;
}
.graphcell {
  width: 99%;
}
#about {
  clear: left;
}
#appversion {
  margin-left: 20px;
  float: right;
  color: #C7C7CC;
}
